.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__img{
    height: 21px;
  }
  &__containerImg {
    position: relative;
  }
  &__count {
    background: black;
    border-radius: 50px;
    border: 1px solid black;
    color: white;
    font-size: 13px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width: 12px;
  }

  &__containerTitle {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
  }
  &__price {
    color: var(--color-gray);
    font-size: 12px;
  }
  &__title {
    font-size: 15px;
  }
}