.cart-summary {
  border: 1.5px solid var(--color-background);
  border-top: 3px solid var(--color-background);
  height: fit-content;

  &__price-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

  }
  &__text {
    color: var(--color-text);
    font-weight: 300;
  }
  &__line {
    border: 1px solid var(--color-background);
  }
  &__button {
    background: var(--color-gray);
    color: var(--color-white);
    font-weight: bold;
    margin: 20px;
    padding: 12px;
    width: 400px;
  }
}