.cart-products {
  width: 626px;
  border: 1.5px solid var(--color-background);
  border-top: 3px solid var(--color-background);

  &__container {
    margin: 25px;
  }
  &__content {
    align-items: end;
    color: var(--color-text);
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__img {
    height: 136px;
    width: 120px;
  }
  &__item-price {
    width: 100px;
    font-size: 16px;
  }
  &__item-title {
    width: 160px;
    font-size: 16px;
  }
  &__title {
    margin: 15px;
    font-size: 23px;
    font-weight: 600;
  }
  &__line {
    border-bottom: 1px solid var(--color-background);
  }
  &__button {
    border:none;
    background: transparent;
    font-size: 10px;
    cursor: pointer;
  }
}