.header {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 20px;

  &__container {
    background: var(--color-white);
  }

  &__img {
    width: 214px;
    cursor: pointer;
  }

  &__line {
    background: var(--color-background);
    height: 10px;
  }
}
