.products-page {
  $self: &;
  background: var(--color-background);
  height: 100vh;

  &__header {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;

    #{$self}__header-title {
      font-weight: 600;
      margin: 0;
      padding-bottom: 30px;
      font-size: 27px;
    }
  }
  &__products {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__slider-prev,
  &__slider-next {
    position: absolute;
    top: 0;
    bottom: 58px;
    height: 30px;
    width: 30px;
    margin: auto;
    z-index: 100;
    border: none;
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__slider-prev {
    left: -50px;
  }
  &__slider-next {
    right: -50px;
  }
}

